<div layout="row" flex>
	<md-content layout="column" flex class="md-padding">
		
				<md-input-container>
					<label>Amount</label>
					<input type="number" required placeholder="0,00" ng-model="newEntry.amount">
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input type="text" placeholder="Description" ng-model="newEntry.description">
				</md-input-container>
				<small>
					Tags:
					<span ng-repeat="tag in newEntry.tags | filter:checked != true">
						{{tag.name}}<span ng-if="!$last">,</span>
					</span>
				</small>
				<ep-tag-list></ep-tag-list>

	</md-content>
</div>