<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-closed>
	<md-toolbar class="md-tall">
		<span flex></span>
		<h2 class="md-toolbar-tools md-toolbar-tools-bottom">
			<span class="md-flex">Menu</span>
		</h2>
	</md-toolbar>
	<md-content>
		<md-list>
			<md-item>
				<md-item-content>
					<div class="md-tile-content">
						<md-button class="md-primary" ng-click="sidenav.navigateTo('home')">
							Home
						</md-button>
					</div>
				</md-item-content>
				<md-divider ng-if="!$last"></md-divider>
			</md-item>
			<md-item>
				<md-item-content>
					<div class="md-tile-content">
						<md-button class="md-primary" ng-click="sidenav.navigateTo('thismonth')">
							This month
						</md-button>
					</div>
				</md-item-content>
				<md-divider ng-if="!$last"></md-divider>
			</md-item>
			<md-item>
				<md-item-content>
					<div class="md-tile-content">
						<md-button class="md-primary" ng-click="sidenav.navigateTo('lastmonth')" ng-disabled="true">
							Last month
						</md-button>
					</div>
				</md-item-content>
				<md-divider ng-if="!$last"></md-divider>
			</md-item>
			<md-item>
				<md-item-content>
					<div class="md-tile-content">
						<md-button class="md-primary" ng-click="sidenav.navigateTo('average')" ng-disabled="true">
							Average
						</md-button>
					</div>
				</md-item-content>
				<md-divider ng-if="!$last"></md-divider>
			</md-item>
		</md-list>
	</md-content>
</md-sidenav>