<md-dialog aria-label="Edit Entry">
	<md-content class="sticky-container">
		<div class="dialog-content">
			<md-input-container>
				<label>Amount</label>
				<input type="number" required placeholder="0,00" ng-model="editEntry.entry.amount">
			</md-input-container>
			<md-input-container>
				<label>Description</label>
				<input type="text" placeholder="Description" ng-model="editEntry.entry.description">
			</md-input-container>
			<ep-tag-list list-layout="column"></ep-tag-list>
		</div>
		<div layout="row" layout-align="end center">
			<md-button ng-click="editEntry.remove()" class="md-warn">
				Delete
			</md-button>
		</div>
	</md-content>
	<div class="md-actions" layout="row">
		<md-button ng-click="editEntry.cancel()">
			Cancel
		</md-button>
		<md-button class="md-primary" ng-click="editEntry.save()">
			Save
		</md-button>
	</div>
</md-dialog>