<div id="app" layout="row" flex>
	<md-toolbar id="header" >
		<div class="md-toolbar-tools">
			<button ng-click="app.toggleSidenav('left')" class="menuBtn">
				<span class="visually-hidden">Menu</span>
			</button>
			<h1>{{app.title}}</h1>
		</div>
	</md-toolbar>

	<md-content id="pagecontent" md-scroll-y flex class="md-padding">
		<md-whiteframe class="md-whiteframe-z2" layout="column" class="md-default-theme">
			<div ui-view="contentView" ></div>
		</md-whiteframe>
	</md-content>

	<md-toolbar id="header-backdrop" class="md-tall" >
	</md-toolbar>
</div>