<div layout="row" flex>
	<md-content layout="column" flex>
		<section>
			<md-toolbar ng-show="el.header" class="md-accent">
				<h1 class="md-toolbar-tools md-toolbar-tools-bottom">&euro;{{el.total()}} - {{el.entries.length}} entries</h1>
			</md-toolbar>
			
			<md-subheader ng-show="el.subheader" class="md-primary">
				This month (&euro;{{el.total()}} - {{el.entries.length}} entries):
			</md-subheader>
			
			<md-list>
				<md-item ng-repeat="entry in el.entries | orderBy: '-date' track by $index">
					<md-item-content>
						<div class="md-tile-content">
							<h3>&euro; {{entry.amount}}</h3>
							<h4>{{entry.description}}</h4>
							<p>{{entry.momentDate}}</p>
							<small ng-repeat="tag in entry.tags track by $index">
								{{tag | tagname}}<span ng-if="!$last">,&nbsp;</span>
							</small>
						</div>
					</md-item-content>
					<md-divider ng-if="!$last"></md-divider>
				</md-item>
			</md-list>
		</section>
	</md-content>
</div>