<!DOCTYPE html>
<html ng-app="app" manifest="manifest.appcache">
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		
		<title>ExpMan</title>

		<link rel="stylesheet" type="text/css" href="vendor/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="manifest" href="manifest.webapp.json">
	</head>
	<body layout="row">
		<ep-primary-fab></ep-primary-fab>
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
			<md-toolbar class="md-tall">
				<span flex></span>
				<h2 class="md-toolbar-tools md-toolbar-tools-bottom">
					<span class="md-flex">Menu</span>
				</h2>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-item>
						<md-item-content>
							<div class="md-tile-content">
								<md-button class="md-primary">
									Home
								</md-button>
							</div>
						</md-item-content>
						<md-divider ng-if="!$last"></md-divider>
					</md-item>
					<md-item>
						<md-item-content>
							<div class="md-tile-content">
								<md-button class="md-primary">
									This month
								</md-button>
							</div>
						</md-item-content>
						<md-divider ng-if="!$last"></md-divider>
					</md-item>
					<md-item>
						<md-item-content>
							<div class="md-tile-content">
								<md-button class="md-primary">
									Last month
								</md-button>
							</div>
						</md-item-content>
						<md-divider ng-if="!$last"></md-divider>
					</md-item>
					<md-item>
						<md-item-content>
							<div class="md-tile-content">
								<md-button class="md-primary">
									Average
								</md-button>
							</div>
						</md-item-content>
						<md-divider ng-if="!$last"></md-divider>
					</md-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<div ui-view="contentView" layout="column" flex></div>

		<script src="vendor/angular.min.js"></script>
		<script src="vendor/angular-animate.min.js"></script>
		<script src="vendor/angular-aria.min.js"></script>
		<script src="vendor/angular-material.min.js"></script>
		<script src="vendor/angular-ui-router.min.js"></script>
		<script src="vendor/underscore-min.js"></script>
		<script src="vendor/moment.min.js"></script>


		<script src="index.js"></script>
		<script src="templates.js"></script>
		<script src="components/app/app.js"></script>
		<script src="components/newTag/newTagController.js"></script>
		<script src="components/entryList/entryListController.js"></script>
		<script src="components/entryList/entryListDirective.js"></script>
		<script src="components/newEntry/newEntryController.js"></script>
		<script src="components/newEntry/newEntryDirective.js"></script>
		<script src="components/primaryFab/primaryFabController.js"></script>
		<script src="components/primaryFab/primaryFabDirective.js"></script>
		<script src="factories/entry.js"></script>
		<script src="factories/tags.js"></script>
		<script src="filters/tagname.js"></script>

		<script>
			window.scrollTo(0,1);
		</script>

	</body>
</html>